<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despliegue</title>
    <link rel="stylesheet" th:href="@{/css/deployment-style.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script th:src="@{/js/fade.js}" defer></script>
</head>
<body>
    <div th:replace="~{fragments/menu.html}"></div>
    <div class="deployment-container" >
        <h1>Despliegue del Proyecto</h1>
        <p class="subtitle">
            En esta sección se documenta el método de despliegue usado para el proyecto el cual se basa en Kubernetes.
        </p>

        <section class="fade-element deployment-section">
            <h2>Introduccion</h2>
            <p>
              El despliegue del proyecto se realiza usando Kubernetes, en especifico microk8s, 
            </p>
            <p>
                A continuación se muestra un diagrama que representa el flujo de despliegue:
            </p>
            <img th:src="@{/images/deployment.jpg}" 
                 alt="Diagrama del despliegue" 
                 class="deployment-image">
        </section>

        <section class="fade-element deployment-section">
            <h2>Creacion de Imagen Docker</h2>
            <p>
                Para crear la imagen del proyecto, se usa un archivo  <strong>Dockerfile</strong>. Este archivo define los pasos necesarios  para compilar y ejecutar la aplicación en el entorno de Docker.
            </p>
            <p>A continuación se muestra el código utilizado:</p>
            <img th:src="@{/images/dockerfile.jpg}"
                 alt="Contenido del Dockerfile"
                 class="deployment-image">
        </section>

        <section class="fade-element deployment-section">
            <h2>Kubernetes</h2>
            <p>
                Para el despliegue en kubernetes se debe contar con archivos de configuracion para el namespace, el despliegue, el servicio y la regla de ingreso.
            </p>
            <p>
                El primer paso es crear el namespace en el que se creara el deployment, el servicio y el ingress.
            </p>
            <img th:src="@{/images/namespacekub.jpg}" 
                 alt="Contenido de namespace.yaml"
                 class="deployment-image">
            <p>
                Luego se debe crear el despliegue, el cual establece el replicaset a usar, y el contenedor que se correra, en este caso el mifinca-app
            </p>
            <img th:src="@{/images/deploymentkub.jpg}" 
                 alt="Contenido de deployment.yaml"
                 class="deployment-image">
            <p>
                Cuando ya se tiene el deployment, se debe crear el servicio que permite acceso al despliegue.
            </p>
            <img th:src="@{/images/servicekub.jpg}" 
                     alt="Contenido de service.yaml"
                     class="deployment-image">
             <p>
                Finalmente se debe crear la regla de ingreso, esto permite mapear distintos servicios a patrones de url.
            </p>
            <img th:src="@{/images/ingresskub.jpg}" 
                             alt="Contenido de ingress.yaml"
                             class="deployment-image">
        </section>

        <section class="fade-element deployment-section">
            <h2>Pipeline de Jenkins</h2>
            <p>
                Para seguir una arquitectura de CI/CD, se usa un pipeline de jenkins para el despliegue de la aplicacion
            </p>
            <p>
                Se tiene diseñada un pipeline que extrae el codigo de github, lo compila y construye la imagen de docker, lo registra, y luego construye el despliegue de kubernetes
            </p>
            <img th:src="@{/images/jenkinspipeline.jpg}" 
                 alt="Jenkins pipeline" 
                 class="deployment-image">
            <img th:src="@{/images/pipeline.jpg}" 
                 alt="Jenkins pipeline" 
                 class="deployment-image">
        </section>
    </div>
</body>
</html>
