<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripción del Proyecto</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/description-style.css}" />
</head>
<body>
    <div th:replace="~{fragments/menu.html}"></div>

    <div class="content-container">
        <h1 class="title">Arrienda tu finca</h1>
        <div class="submenu">
            <h2>Secciones</h2>
            <ol>
                <li><a href="#introduccion">Introduccion</a></li>
                <li><a href="#objetivos">Objetivos del Proyecto</a></li>
                <li><a href="#alcance-funcionalidades">Alcance y Funcionalidades Clave</a></li>
                <li><a href="#valor-agr">Valor agregado</a></li>
                <li><a href="#tecnologias">Tecnologías Principales</a></li>
            </ol>
        </div>

        <div class="section" id="introduccion">
            <h3>Introduccion</h3>
            <p>
                Se desarrollara la plataforma "Arrienda tu finca", esta plataforma busca ofrecer la facilidad de arriendar fincas, se junta al arrendador con el arrendatario, intermediando todo el proceso de arriendo, desde la busqueda, la elecciony solicitudes. Para el arrendatario se le brinda toda la libertad de administracion de sus propiedades.
            </p>
        </div>
        
        <div class="section" id="objetivos">
            <h3>Objetivos del Proyecto</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit himenaeos class, laoreet dui varius lacus quam iaculis litora ligula senectus, justo habitasse at pulvinar augue parturient magnis nullam. Lobortis donec commodo magnis at porta sem massa ullamcorper, lacinia
            </p>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                <li>Maecenas posuere leo id nunc lobortis dignissim</li>
                <li>Aenean faucibus eros a interdum hendrerit</li>
            </ul>
        </div>

        <div class="section" id="alcance-funcionalidades">
            <h3>Alcance y Funcionalidades Clave</h3>
            <p>
                vulputate tempus habitasse aenean risus quam, litora faucibus primis phasellus magna venenatis interdum. Luctus risus auctor quis dapibus tempor tellus commodo orci leo
            </p>
            <p>
                vulputate tempus habitasse aenean risus quam, litora faucibus primis phasellus magna venenatis interdum. Luctus risus auctor quis dapibus tempor tellus commodo orci leo
            </p>
        </div>

        <div class="section" id="valor-agr">
            <h3>Valor agregado</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, 
                iusto magnam nesciunt sed commodi reiciendis, dolores culpa nobis non 
                ullam autem perspiciatis reprehenderit, quos ex? Accusamus, fugiat?
            </p>
            <ol>
                <li>Lorem ipsum dolor sit amet, consectetur adipscingin</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipscingin</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipscingin</li>
            </ol>
        </div>

        <div class="section" id="tecnologias">
            <h3>Tecnologias Principales</h3>
            <p>
                Para el desarrollo de esta plataforma se hace uso de un amplio stack tecnologico.
            </p>
            <ol>
                <li>Spring boot: Se usa Spring boot, framework de Java, para el desarrollo de la Rest API</li>
                <li>PostgreSQL: Se usa PostgreSQL para la base de datos relacional</li>
                <li>Angular js: Se usa Angular js para el desarrollo de la pagina web (frontend)</li>
                <li>Kubernetes: El despliegue de la plataforma se hace por medio de Kubernetes</li>
            </ol>
        </div>

    </div>
</body>
</html>
