<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripción del Proyecto</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/description-style.css}" />
</head>
<body>
    <div th:replace="~{fragments/menu.html}"></div>

    <div class="content-container">
        <h1 class="title">Arrienda tu finca</h1>
        <div class="submenu">
            <h2>Secciones</h2>
            <ol>
                <li><a href="#introduccion">Introduccion</a></li>
                <li><a href="#alcance-funcionalidades">Alcance y Funcionalidades Clave</a></li>
                <li><a href="#tecnologias">Tecnologías Principales</a></li>
            </ol>
        </div>
        <div class="section" id="Repositorio">
            <h3>Repositorio</h3>
            <li> <a href="https://github.com/jave-tech-titans/mi-finca"> Enlace repoitorio </a></li>
        </div>
        <div class="section" id="introduccion">
            <h3>Introduccion</h3>
            <p>
                Se desarrollara la plataforma "Arrienda tu finca", esta plataforma busca ofrecer la facilidad de arriendar fincas, se junta al arrendador con el arrendatario, intermediando todo el proceso de arriendo, desde la busqueda, la elecciony solicitudes. Para el arrendatario se le brinda toda la libertad de administracion de sus propiedades.
            </p>
        </div>

        <div class="section" id="alcance-funcionalidades">
            <h3>Alcance del proyecto</h3>
            <p>
                Es fundamental tener un alcance definido, pues este especifica que tanto se va a cubrir con el presente desarrollo.
            </p>
            <ul>
                <li>Backend funcional, listo para despliegue en un escalable horizontalmente con Kubernetes</li>
                <li>Autenticacion y autorizacion para proveer seguridad</li>
                <li>Frontend funcional integrado con el backend</li>
                <li>Envio de correos electronicos funcional</li>
            </ul>
            <p>
                Por otro lado, a continuacion se listan los elementos que no se cubriran en el presente proyecto.
            </p>
            <ul>
                <li>Storage de archivos (imagenes) listo para despliegue, se usara storage local</li>
                <li>Integracion con sistemas de pago</li>
                <li>Despliegue en servidor real con IP estatica publica y dominio</li>
            </ul>
        </div>

        <div class="section" id="tecnologias">
            <h3>Tecnologias Principales</h3>
            <p>
                Para el desarrollo de esta plataforma se hace uso de un amplio stack tecnologico.
            </p>
            <ol>
                <li>Spring boot: Se usa Spring boot, framework de Java, para el desarrollo de la Rest API</li>
                <li>PostgreSQL: Se usa PostgreSQL para la base de datos relacional</li>
                <li>Angular js: Se usa Angular js para el desarrollo de la pagina web (frontend)</li>
                <li>Kubernetes: El despliegue de la plataforma se hace por medio de Kubernetes</li>
            </ol>
        </div>

    </div>
</body>
</html>
