<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollo</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/development-style.css}" />
    <script th:src="@{/js/fade.js}" defer></script>
</head>
<body>
    <div th:replace="~{fragments/menu.html}"></div>
    <div class="development-container">
        <h1>Desarrollo</h1>
        <p class="subtitle">
            En esta seccion se profundiza en temas de desarrollo, desde el punto de vista de la documentacion, la informacion mas importante es la documentacion de los distintos endpoints provistos por la Rest API desarrollada.
        </p>

        <div class="development-index">
            <h2>Secciones</h2>
            <ol>
                <li><a href="#overview">Resumen General</a></li>
                <li><a href="#endpoints">Documentacion endpoints</a></li>
            </ol>
        </div>

        <section id="overview" class="fade-element">
            <h2>Resumen General</h2>
            <p>
                La API debe proveer endpoints tanto para dueños de fincas como para los usuarios que desean arrendar, es asi que se necesitan endpoints que en la mayoria de casos seran unicos para uno de los 2 roles, mientras que otros podran servir para ambos roles, en estos endpoints es fundamental el uso de la autorizacion para identificar correctamente la logica que se debe emplear dependiendo del tipo de usuario
            </p>
            <p>
                En total se tienen 22 endpoints, de los cuales 9 endpoints cumplen historias de usuario de LANDLORD y USER al mismo tiempo, es decir, endpoints como crear cuenta, o agregar ratings, son 1 para ambos roles. Por otro lado se tienen 7 endpoints solo para LANDLORDS, y finalmente 6 para USER.
            </p>
        </section>

        <section id="endpoints" class="fade-element">
            <h2>Documentacion de endpoints</h2>
            <p>
                A continuación, se describen los endpoints disponibles para la 
                interacción con el sistema. Cada endpoint se encuentra versionado 
                y protegido según los lineamientos de seguridad establecidos. 
            </p>

            <div class="endpoints-table-container">
                <table class="endpoints-table">
                    <thead>
                        <tr>
                            <th>Ruta</th>
                            <th>Método</th>
                            <th>Descripción</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="endpoint : ${endpoints}">
                            <td th:text="${endpoint.route}"></td>
                            <td th:text="${endpoint.method}"></td>
                            <td th:text="${endpoint.description}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</body>
</html>
